@import '../../Styles/global.scss';

.screen {
    background-color: white;
    width: 50vw;
    height: 45vh;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 20px;
    border: 1px solid $medium;

    @include tablet {
        height: 36vh;
    }

    &__icon {
        margin: 20% auto;
        width: 50%;

        @include tablet {
            width: 60%;
            margin-bottom: 15%;
        }

        @include desktop-med {
            width: 50%;
        }
    }

    &__text {
        font-family: 'Inter';
        font-weight: 300;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        font-size: 1.05rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop-med {
            font-size: 1.75rem;
        }
    }

    &__btnContainer {
        display: flex;
        justify-content: center;
        margin-top: 10%;

        @include desktop-med {
            margin-top: 5%;
        }
    }

    &__button {
        font-family: 'Inter';
        background-color: $medium;
        border-radius: 10px;
        border: 1px solid $medium;
        padding: 5px 8px;
        margin: 2%;
        width: 100px;
        height: 35px;
    }
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }





