@import '../../Styles/global.scss';

.screen {
    background-color: $light;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 20px;
    border: 1px solid $medium;

    &__icon {
        margin: 20% auto;
        width: 50%;
    }

    &__text {
        font-family: 'Inter';
        font-weight: 300;
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    &__btnContainer {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    &__button {
        font-family: 'Inter';
        background-color: $medium;
        border-radius: 10px;
        border: 1px solid $medium;
        padding: 5px 8px;
        margin: 2%;
        width: 100px;
        height: 35px;
    }

    &__icon-container {
        margin-top: 30px;
        width: 100%;
        height: 60px;
    }

    &__icon {
     cursor: pointer;
     position: relative;
     display: inline-block;
     width: 60px;
     height: 60px;
     margin-left: 60px/5;
     margin-right: 60px/5;
     border-radius: 60px*0.5;
     overflow: hidden;
     &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.25s ease;
        border-radius: 60px*0.5;
    }  
    i {
       position: relative;
       color: white;
       font-size: 60px/2;
       margin-top: 60px/4;
       transition: all 0.25s ease; 
      } 
    }

    &__icon-fill {
        &::before{
          transition-duration: 0.5s;
          box-shadow: inset 0 0 0 1px green;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 60px green;
      }
    }

    @include tablet {
        margin: 20% auto;
    }
}





