@font-face {
    font-family: "Inter";
    src: url('../Assets/_GlobalFonts/Inter-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url('../Assets/_GlobalFonts/Inter-Light.ttf') format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url('../Assets/_GlobalFonts/Inter-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: 700;
}